<script type="text/html" id="details">
	<tr>
		<td colspan="3">
			<h1>Cargo controls</h1>
		</td>
	</tr>
	<tr>
		<td>
			Cargo
			<help>
				<p>
					Cargoships can carry any amount of metal, organics or antimatter.
					The more they carry, the larger the mass of the ship.
				</p>
			</help>
		</td>
		<td>
			<span s_attr="CargoM"/> metal,
			<span s_attr="CargoA"/> antimatter,
			<span s_attr="CargoO"/> organic
		</td>
	</tr>
	<tr>
		<td>
			Available
			<help>
				<p>
					This indicates how much resources are available for pickup in orbit
					around the current star.
				</p>
			</help>
		</td>
		<td class="available"/>
	</tr>
	<tr>
		<td> </td>
		<td>
			<button>Load all</button>
			<button>Unload all</button>
		</td>
	</tr>
</script>
