<script type="text/html" id="index">
	<li>
		<span s_attr="showName"/> [<span s_attr="X"/>, <span s_attr="Y"/>]
		<ul class="content"/>
	</li>
</script>

<script type="text/html" id="name">
	<a href="#" s_attr="Name" s_link="summary"/>
	<a href="#" class="inline-icon" s_link="map">
		<span class="ui-icon ui-icon-arrow-4-diag"/>
	</a>
</script>

<script type="text/html" id="summary">
	<div>
		<img class="starimage"/>
		<b>Name: </b><span s_attr="showName"/><br/>
		<b>Coordinates: </b>[<span s_attr="X"/>, <span s_attr="Y"/>]<br/>
		<b>Brightness: </b><span s_attr="Brightness"/><br/>
		<b>Asteroids: </b><span s_attr="AsteroidsC"/> carbonaceous,
			<span s_attr="AsteroidsM"/> metallic<br/>
		<b>Free resources: </b><span s_attr="ResourcesA"/> antimatter,
			<span s_attr="ResourcesO"/> organic,
			<span s_attr="ResourcesM"/> metal<br/>

		<table class="star_summary_content"/>
	</div>
</script>
