/* Stellation styles.
 * $Source: /cvsroot/stellation/stellation2/war/Stellation2.css,v $
 * $Date: 2009/09/08 23:01:28 $
 * $Author: dtrg $
 * $Revision: 1.4 $
 */

.gwt-Label, .gwt-Grid
{
	color: #fff;
}

body
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}

IMG.BackgroundImage
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.ClockLabel
{
	font-size: xx-small;
	color: #666;
}

.Clock
{
	font-size: large;
	color: #888;
}

.FullScreen
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.Link
{
	cursor: pointer;
	text-decoration: underline;
	color: #88f;
}

.Text
{
	color: #fff;
}

.SimplePanel
{
	border: 1px solid #888;
	background-image: url(transparent-panel.png);
	behavior: url(iepngfix.htc);
	color: #fff;
}

.PanelInner
{
	margin: 0.75em;
}

.TabBar
{
	border-bottom: 1px solid #888;
	border-collapse: separate;
	border-spacing: 5px 0;
}

.TabButton
{
	margin-top: 5px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-image: url(transparent-panel.png);
	behavior: url(iepngfix.htc);
	color: #888;
	font-size: small;
	cursor: pointer;
}
	
.SelectedTabButton
{
	margin-top: 0px;
	color: #fff;
}

.SelectedRow
{
	background-color: #88f;
}

.TitlePanel
{
	border-bottom: 1px solid #888;
	margin-bottom: 0.75em;
	padding-bottom: 0.75em;
}
	
.TitleEmpire
{
	text-align: center;
	font-size: large;
	font-variant: small-caps;
}

.TitleOf
{
	text-align: center;
	font-size: xx-small;
	font-variant: small-caps;
	color: #eee;
}

.TitleName
{
	text-align: center;
	font-size: large;
	font-variant: small-caps;
}

.LeftPaneSeparator
{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	font-size: 80%;
	color: #eee;
}
	
.LeftPaneStarPanel
{
	margin-top: 1.0em;
	margin-bottom: 0.75em;
}

.LeftPaneFleetPanel
{
	margin-left: 0.75em;
	font-size: 80%;
}

.MiddlePaneFleetName
{
	font-size: large;
	border-bottom: 1px solid #888;
	margin-above: 0.5em;
	margin-bottom: 1.0em;
	width: 100%;
}
	
.DamagePanel
{
	display: block;
	background-color: #00f;
}

.DamageBar
{
	background-color: #f00;
}

.LogGrid
{
	color: #fff;
}

/* Right-hand pane */

.UnitBannerTitle
{
	font-size: 120%;
}

.UnitBannerObjectId
{
	font-size: 80%;
	color: #888;
}

.UnitBannerDescription
{
	font-size: 90%;
	font-style: italic;
}

.CargoshipResourcesGrid
{
	color: #fff;
}

.CargoshipResourcesGrid
{
	color: #fff;
}

.CargoshipResourcesGrid td, .CargoshipResourcesGrid button  
{
	font-size: 70%;
	text-align: right;
}

.CargoshipResourcesGrid input
{
	font-family: Arial Unicode MS, Arial, sans-serif;
  	border-width: 1px;
	width: 5em;
	font-size: 90%;
	text-align: right;
}
	
/* Map */

.MapView
{
	background-color: #000;
	cursor: move;
	overflow: hidden;
}

.MapStatus
{
	font-size: small;
	color: #fff;
}

.MapNode
{
	cursor: pointer;
	font-size: x-small;
	color: #888;
}

.MapNode:HOVER
{
	color: #fff;
}

.MapCentreGraticule
{
	background-color: #800;
}

.MapNormalGraticule
{
	background-color: #008;
}

.MapStarMarker
{
	background-color: #fff;
}

.Glyph
{
	overflow: visible;
}

.RootGlyph
{
	overflow: hidden;
}
