/* Stellation styles.
 * $Source: /cvsroot/stellation/stellation2/war/Stellation2.css,v $
 * $Date: 2009/09/06 22:16:32 $
 * $Author: dtrg $
 * $Revision: 1.2 $
 */

body
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}

IMG.BackgroundImage
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.ClockLabel
{
	font-size: xx-small;
	color: #666;
}

.Clock
{
	font-size: large;
	color: #888;
}

.FullScreen
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.Link
{
	cursor: pointer;
	text-decoration: underline;
	color: #88f;
}

.Text
{
	color: #fff;
}

.LeftPane
{
	position: fixed;
	left: 0.75em;
	top: 0.75em;
	width: 15em;
	bottom: 0.75em;
}
	
.MiddlePane
{
	position: fixed;
	left: 16.5em;
	top: 0.75em;
	right: 21.5em;
	bottom: 0.75em;
}
	
.RightPane
{
	position: fixed;
	right: 0.75em;
	top: 0.75em;
	with: 20em;
	bottom: 0.75em;
}
	
.LeftPane, .MiddlePane, .RightPane
{
	padding: 0;
	margin: 0;
	border: 0;
	background-image: url(transparent-panel.png);
	behavior: url(iepngfix.htc);
	color: #fff;
}
	
.PanelHolder
{
	border-spacing: 0.75em;
}

.PaddedPanel
{
	border: 8px solid #f00;
	margin: 0.75em;
	border: 0;
}

.SimplePanel
{
	border: 1px solid #888;
	background-image: url(transparent-panel.png);
	behavior: url(iepngfix.htc);
}

.PanelInner
{
	margin: 0.75em;
}

.TabBar
{
	border-bottom: 1px solid #888;
	border-collapse: separate;
	border-spacing: 5px 0;
}

.TabButton
{
	margin-top: 5px;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-image: url(transparent-panel.png);
	behavior: url(iepngfix.htc);
	color: #888;
	font-size: small;
	cursor: pointer;
}
	
.SelectedTabButton
{
	margin-top: 0px;
	color: #fff;
}

.SelectedRow
{
	background-color: #88f;
}

.MiddlePaneFleetName
{
	font-size: large;
	border-bottom: 1px solid #888;
	margin-above: 0.5em;
	margin-bottom: 1.0em;
	width: 100%;
}
	
.DamagePanel
{
	display: block;
	background-color: #00f;
}

.DamageBar
{
	background-color: #f00;
}

.LogGrid
{
	color: #fff;
}
	
.MapView
{
	background-color: #000;
	cursor: move;
	overflow: hidden;
}

.MapStatus
{
	font-size: small;
	color: #fff;
}

.MapNode
{
	cursor: pointer;
	font-size: x-small;
	color: #888;
}

.MapNode:HOVER
{
	color: #fff;
}

.MapCentreGraticule
{
	background-color: #800;
}

.MapNormalGraticule
{
	background-color: #008;
}

.MapStarMarker
{
	background-color: #fff;
}

.Glyph
{
	overflow: visible;
}

.RootGlyph
{
	overflow: hidden;
}
