#map
{
	height: 100%;
	background-color: black;
}

.invisible-map-marker
{
}

.leaflet-right .leaflet-control
{
	margin-right: 22.5em !important;
}

.leaflet-bottom .leaflet-control
{
	margin-bottom: 1em !important;
}

/* Game dialogs */

@left-column: 10em;

.pane
{
	position: absolute;
	display: block;
	padding: 0.4em;
	overflow: auto;
	z-index: 10000;
}

.minimised-vertically
{
	height: 2.5em !important;
	bottom: auto !important;
	overflow: hidden !important;
}

#indexpane
{
	.pane;
	left: 1em;
	top: 7.5em;
	bottom: 7.5em;
	width: 14em;
}

#titlepane
{
	.pane;
	left: 1em;
	top: 1em;
	width: 14em;
	height: 5em;
}

#clockpane
{
	.pane;
	left: 1em;
	bottom: 1em;
	width: 14em;
	height: 5em;
}

#detailpane
{
	.pane;
	right: 1em;
	top: 1em;
	bottom: 1em;
	width: 20em;
}

#contentpane
{
	.pane;
	top: 1em;
	bottom: 1em;
	left: 16.5em;
	right: 22.5em;
	width: auto;
}

#mapinfo
{
	position: absolute;
	display: block;
	bottom: 1em;
	left: 16.5em;
	right: 22.5em;
	overflow: hidden;
	text-align: center;
}
	
#mapinfo .content
{
	color: white;
}
